.main-image {
    margin-left: 103px;   
}

.main-image::before {
    display: block;
    content: "";
    width: 125px;
    height: 115px;
    background-color: #68A7FA;
    border-radius: 10px;
    position: absolute;
    top: -22px;
    left: 81px;
    z-index: -1;
}

.main-image::after {
    display: block;
    content: "";
    width: 125px;
    height: 115px;
    background-color: #FE8AB1;
    border-radius: 10px;
    position: absolute;
    top: 233px;
    left: 544px;
    z-index: -1;
}